.kanban-container {
  max-width: 1080px;
  margin: 0 auto;
}

.kanban {
  display: flex;
  justify-content: center;
  background-color: #182139;
  width: 100%;
}

.kanban__col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 10px;
  width: 33%;
  min-height: 90vh;
  box-sizing: border-box;
}

.col-first, .col-second, .col-third {
  color: #c7c7c7;
  background-color: #272e48;
  width: 100%;
  min-height: 130px;
  border-radius: 30px;
}

.card-client {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 90%;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  transition: background-color .2s;
}

.card-client:hover {
  background-color: #182139;
  cursor: pointer;
}

.col-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 30px 30px 0 0;
  border-bottom: 2px solid;
  box-sizing: border-box;
}

.col-first > .col-title {
  border-color: #FF3F3F;
}

.col-second > .col-title {
  border-color: #FFB822;
}

.col-third > .col-title {
  border-color: #10B759;
}

.col-first > .card-client {
  /* background-color: #FF3F3F; */
  border: 2px solid #FF3F3F;
}

.col-second > .card-client {
  /* background-color: #FFB822; */
  border: 2px solid #FFB822;
}

.col-third > .card-client {
  /* background-color: #10B759; */
  border: 2px solid #10B759;
}

.card-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

p {
  margin: 0;
  padding: 0;
}

.card-content__org {

}

.card-content__title {

}

.card-content__likes {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 4px 8px;
  background: #FF3F3F;
  transition: .2s;
}

.card-content__likes:hover {
  background: rgb(209, 29, 29)
}

.card-content__likes-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.card-content__likes-num {
  margin-left: 5px;
  font-size: 12px;
}

.card-photo {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}