.header {
  /* height: 50px; */
  display: flex;
  flex-wrap: wrap;
  background-color: #272e48;
}

.navbar{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.nav{
  padding: 20px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #c7c7c7;
}
.header-right{
  /* position: absolute; */
    right: 0;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.login{
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #c7c7c7;
  background-color: #182139;
}
.nav:hover{
  background-color: #182139;
}