.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 1.3rem;
  border-bottom: 2px solid rgba(0,0,0,.1);
}

.nav, .login {
  color: rgba(255,255,255, .9);
  text-decoration: none;
  padding: 5px 15px;
  margin-right: 1rem;
  font-weight: bold;
  transition: .2s;
}

.login {
  border-radius: 10px;
}

.nav:hover:nth-child(3n+1) {
  padding-bottom: 5px;
  border-bottom: 2px solid #10B759;
}

.nav:hover:nth-child(3n+2) {
  padding-bottom: 5px;
  border-bottom: 2px solid #FFB822;
}

.nav:hover:nth-child(3n+3) {
  padding-bottom: 5px;
  border-bottom: 2px solid #FF3F3F;
}

.login:hover {
  color: #fff;
  background-color: #10B759;
}

.login {
  margin-right: 0;
}

.nav:last-child {
  margin-right: 0;
}