.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.navbar {
  width: 90vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #272e48;
}
.nav{
  padding: 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #c7c7c7;
  transition: .3s;
}
.header-right{
  /* position: absolute; */
    right: 0;
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.login{
  height: 100%;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #c7c7c7;
  background-color: #182139;
}
.nav:hover{
  background-color: #182139;
}